@use "@fremtind/jkl-core/jkl";

$_content-width: 50rem;

.main {
	max-width: $_content-width;
	padding: var(--spacing-24);
	margin: 0 auto;
}

.title {
	padding-bottom: var(--spacing-42);
}

.calculator {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--spacing-24);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.formRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.summary {
	padding-top: 1.2rem;
	padding-bottom: 2rem;
	min-width: 14rem;
}

.footer {
	max-width: $_content-width;
	margin: 0 auto;
	margin-top: var(--spacing-42);
	margin-bottom: var(--spacing-24);
	padding: var(--spacing-24);
	border-top: 1px solid #eaeaea;
}

.footerContent {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
}
