@use "@fremtind/jkl-core/jkl";

.main {
  max-width: 45rem;
  padding: 2rem;
  margin: 0 auto;
}

.title {
  padding-bottom: 5rem;
}

.calculator {
  display: flex;
  gap: 5rem;
  padding-bottom: 4rem;
}

.summary {
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eaeaea;
}

.footerContent {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  max-width: 45rem;
  margin: 0 auto;
  gap: 0.5rem;
}

@media (max-width: jkl.rem(1200px)) {
  .title {
    padding-bottom: 2rem;
  }

  .calculator {
    padding-bottom: 1rem;
  }
}

@media (max-width: jkl.rem(600px)) {
  .main {
    max-width: unset;
    padding: 1rem;
  }

  .title {
    padding-bottom: 1rem;
  }

  .calculator {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 0rem;
  }

  .summary {
    padding-top: 0;
  }

  .footer {
    padding: 1rem;
  }

  .footerContent {
    grid-template-columns: repeat(1, 1fr);
  }
}
